AddDefaultCharset UTF-8
ErrorDocument 404 /404.html
<IfModule mod_headers.c>
Header set X-Content-Type-Options "nosniff"
Header set X-Frame-Options "SAMEORIGIN"
Header set Referrer-Policy "strict-origin-when-cross-origin"
</IfModule>
Redirect 301 /%D7%A9%D7%99%D7%A8%D7%95%D7%AA/ /%D7%97%D7%9C%D7%95%D7%A0%D7%95%D7%AA-%D7%93%D7%9C%D7%AA%D7%95%D7%AA/
